body{
  background-color: rgb(38, 19, 30);
  color:white;
}

.form-group{
  padding: 5px;
  margin: 5px;
}

.table{
  padding: 5px;
  margin: 5px;
}

img{
display: block;
margin-left: auto;
margin-right: auto;
width: 100px;
padding-bottom: 5px;
}

.bookworm{
  display: block;
  text-align: center;
  }

a{
  color: white;
  font-weight: bold;
}

#tableintro{
  padding: 5px;
  margin: 5px;
  margin-top: 30px;
  padding-bottom: 30px;
}

.table{
  padding: 5px;
  margin: 5px;
}

#profilePicture{
  border-radius: 50%;
  width: 200px;
  padding-top: 20px;
}

.userIntro{

  margin-top: 120px;
  padding-bottom: 40px;
  padding-top: 40px;
}

#welcomeMessage{
  text-align: center;
  font-size: x-large;
}

.welcomeHome{
  margin-top: 80px;
  padding-bottom: 40px;
  padding-top: 40px;


}

.source{
  text-align: center;
  font-weight: normal;
  font-size: 10px;

}

.bookworm{
  background-color: rgb(38, 19, 30);
}

#communityReading{
  width: 420px;
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 7px;
}

#email{
  color: rgb(215, 217, 196);
  font-weight: normal;
  text-decoration: underline;
  margin-top: 20px;
}

.infoDetails{
  margin-top: 10px;

}
.info{
  text-align: center;
  padding: 0px;
}

.emailContainer{

    margin-top: 10px;
}

.bookWormImg{
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 2px;
}

.favForm{
  font-weight: bold;
}
